/* https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
 */

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url(../fonts/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: black;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url(../fonts/Roboto-BlackItalic.ttf);
    font-weight: black;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-BoldItalic';
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-MediumItalic';
    src: url(../fonts/Roboto-MediumItalic.ttf);
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(../fonts/Roboto-LightItalic.ttf);
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-ThinItalic';
    src: url(../fonts/Roboto-ThinItalic.ttf);
    font-weight: thin;
    font-style: italic;
}
